body{
	padding: 5%;
	background-color: #B9DDFF;
}

footer{
	padding: 2px;
	text-align: center;
}

footer img{
	height: 28px;
}

body.langage {
	background-color: #ADD8E6;
}

body#histoire, body#outils{
	background-color: #EEDCBB;
}

header{
	margin-bottom: 10px;
	text-align: center;
}

section{
	margin-top: 10px;
}

p+p{
	margin-top: 5px;
	margin-bottom: 5px;
}

nav#histoire, nav#outils{
	background-color: #FFA500;
	border-color: #800000;
}

nav.langage{
	background-color: #20B2AA;
}

#flottantL{
	float: left;
	width: 49%;
}

#flottantR{
	float: right;
	width: 49%;
}

footer.content{
	clear: both;
}

p.titre{
	background-color: #808080;
	border-style: double;
	margin: 0px;
}

section .langage{
	background-color: #DCDCDC;
}

nav{
	background-color: #87CEFA;
	border-style: solid;
	border-color: #3CB371;
	border-width: 4px;
	height: 40px;
}

footer HR{
	border-width: 2px;
}

#defilement{
	animation : myfirst 20s infinite;
	-webkit-animation: myfirst 5s infinite; /* Safari et CHrome*/
}
#defilement > p {
	animation : anim2 5s infinite;
	-webkit-animation: anim2 10s infinite; /* Safari et Chrome*/
	width : 10%;
	position: relative;
}

@keyframes myfirst
{
from {background: red;}
to {background: yellow;}
}


@-webkit-keyframes myfirst /* Safari et Chrome*/
{
from {background: red;}
to {background: yellow;}
}


@keyframes anim2{
	from{
		left : 90%;
	}
	to{
		left : 0%;
	}
}

@-webkit-keyframes anim2{ /* Safari et Chrome*/
from{
		left : 90%;
	}
	to{
		left : 0%;
	}
}

nav a:link{
	padding: 3px;
	margin : 5px;
	border : 2px solid;
	border-top-left-radius:10px;
	border-bottom-right-radius:10px;
	display: inline-block; 
	background-color: black;
	color: white;
}

nav a:visited{
	color: red;
}

nav a:hover{
	cursor: pointer;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px; 
	border-top-left-radius:0px;
	border-bottom-right-radius:0px;
	color: yellow;
}

#lienExterne{
	width: 10px;
}

#ampoule{
	width: 100px;
}